<BsButton @id='test' @onClick={{action "submit"}}>Button</BsButton>

<ol>
{{#each this.model as |movie|}}
  <li>
    <LinkTo @route='detail' @model={{movie}}>{{movie.Title}}</LinkTo>
  </li>
{{/each}}
</ol>
{{outlet}}